html {
	position: relative;
	min-height: 100%;
}

.header-team-logo {
	width: 110px;
	height: 75px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.header-score {
	font-size: 4rem;
	vertical-align: middle;
	display: inline-block;
	margin: 10px;
	color: slategray;
}

.team-selection {
	border: 1px solid grey;
	height: 50px;
}

.substitution-item {
	display: inline-block;
	margin-right: 10px;
}

.substitution-item img {
	width: 60px;
    height: 75px;
	border: 1px solid gainsboro;
	border-radius: 3px;
}

.player-selection-item {
	display: inline-block;
	margin-right: 10px;
}

.player-selection-item img {
	width: 80px;
    height: 100px;
    border: 3px solid gainsboro;
    border-radius: 3px;
}

.current-player img {
	max-height: 150px;
}

body {
	margin-bottom: 80px;
}

.footer {
	height: 80px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f8f8f8;
	border-top: 1px solid;
	border-top-color: #e7e7e7;
}

.footer-score {
	font-size: 1.8rem;
	vertical-align: middle;
	display: inline-block;
	margin: 10px;
	color: slategray;
	margin-top: 25px;
}

.action-item-group {
	width: 100%;
}

.action-item {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bolder;
	font-size: 2.2rem;
	margin-bottom: 15px;
}

.action-item.main {
	width: 68%;
}

.action-item.sub {
	width: 30%;
}

.quarter-selection-item {
	margin-right: 10px;
}

.header-middle {
	vertical-align: middle;
	display: inline-block;
	margin: 10px;
}

.time-out-item {
	vertical-align: middle;
	display: inline-block;
	margin: 20px;
}

.player-detail {
	background-color: rgba(0, 0, 0, 0.5);
    width: 80px;
    position: absolute;
    text-align: center;
    bottom: 0px;
}

.player-detail span {
	color: white;
	font-weight: bold;
}

.bench-player .player-detail {
    width: 60px;
}

.active-player .player-detail {
    width: 80px;
}

#current-quarter{
	margin: 10px 0px 0px 10px;
    color: cornflowerblue;
    font-size: 50px;
    font-weight: bold;
}

.footer-score>span {
	margin-right: 10px;	
}

.well {
	padding: 5px !important;
	margin-bottom: 10px !important;
}

.navbar {
	margin-bottom: 10px !important;
}

